/* css general*/

/*global page/generals*/

body {
    margin :0px ;
}

.leftfilling{
    margin-left: auto;
    margin-right: 0px;
}


/*banner*/
#banner {
    display: flex;
    align-items: center;
    height: 50px ;
    width: 100%;
    /*! margin-top: 0px; */
    background-color:rgba(12, 122, 122, 0.8) ;
    padding: 0px;
 }

#homebutton{
    padding:6px;
    margin-right: 20px;
    border:2px solid #FFF;
}
#homebutton:hover{
  box-shadow: 0px 0px 6px #333;
}

.hambar {
    width: 40px;
    height: 4px;
    margin: 6px;
    background-color: black;
}

.hamburger{
    height: 36px;   
    margin-right: 10px;
    border:2px solid #FFF;
}
.hamburger:hover{
    box-shadow: 0px 0px 6px #333;
}


/*content section*/

.main{
    display: flex;
    width: 100%;
    height: calc(100vh - 50px);     
}


/*Instructions*/
.instructions{
    width:20vw;
    background-color:rgba(173, 109, 30,0.7);
}
.experiment{
    align-content:  center;
    width: 80vw;
    padding-left: 5vw;
    background-color:rgba(12, 122, 122, 0.3) ;
}




