/* css general*/
 #banner {
    display:inline-block;
    background-color:rgb(137, 122, 122) ;
    height : 30px;
    width: 100%;
    margin-top: 0px;
    padding: 0px;
 }
body {
    margin :0px ;
}