/* css general*/

/*global page/generals*/

body {
    margin :0px ;
    background-color:rgba(12, 122, 122, 0.3) ;
    
}

.leftfilling{
    margin-left: auto;
    margin-right: 0px;
}
hr{
    margin:0px;
    display:none;
}


/*banner*/
#banner {
    display: flex;
    align-items: center;
    height: 50px ;
    width: 100%;
    /*! margin-top: 0px; */
    background-color:rgba(12, 122, 122, 0.8) ;
    padding: 0px;
    box-shadow: 1px 1px 4px #333;
 }

h1{
    padding-left:10px;
    width:20vw;
}


#homebutton{
    padding:6px;
    margin-right: 20px;
    border:2px solid #FFF;
    border-radius:2px;
    color:black;
    
}
#homebutton:hover{
  box-shadow: 0px 0px 6px #333;
}

.dropdown{
    position:relative;
    margin-right: 10px;
    
}
.hamburger{
    height: 36px;   
    border:2px solid #FFF;
    border-radius:2px;
}
.hambar {
    width: 40px;
    height: 4px;
    margin: 6px;
    background-color: black;
}

.hamburger:hover{
    box-shadow: 0px 0px 6px #333;
}
.navigationlist{
    display:none;
    position:absolute;
    width: 150px;
    right:0px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 1);
    border: 2px solid #000;
    border-radius:2px;
}

.navigationlist:hover{
    /*display:block;*/
}
.mbutton{
    padding: 10px;
    border:0.1px solid black;
    border-radius:2px;
    background-color: rgba(122, 222, 222, 1);
}
.mlink{
    padding-top:5px;
    color : black;
    /*! padding-right: 25px; */
}

/*content section*/

.main{
    display: flex;
    width: 100%;
    height: calc(100vh - 50px);     
}


/*Instructions*/
.instructions{
    width:20vw;
    background-color:rgba(173, 109, 30,0.7);
    box-shadow: 1px 0px 1px #333;
}
.experiment{
    align-content:  center;
    width: 80vw;
    padding-left: 5vw;
    background-color:rgba(12, 122, 122, 0.3) ;
}


